<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        <main>
            <div class="ns-main-layout">
                {{>navbar}}
                <div class="content-wrapper">
                    <div class="content-sidebar">
                        <ul class="content-sidebar__menu nav-list">
                            <li class="content-sidebar__menu__section-heading">menu</li>
                            <li class="content-sidebar__menu__section">
                                <ul class="nav-list">
                                    <li class="nav-list__item">
                                        <a href="{{forumBaseUrl}}">Forum</a>
                                    </li>
                                    <li class="nav-list__item">
                                        <a href="{{forumBaseUrl}}/tags">tags</a>
                                    </li>
                                </ul>
                            </li>
                            {{#if user}}
                                <li class="content-sidebar__menu__section-heading">dashboard</li>
                                <li class="content-sidebar__menu__section">
                                    <ul class="nav-list">
                                        <li class="nav-list__item">
                                            <a href="{{forumBaseUrl}}/profile">profile</a>
                                        </li>
                                    </ul>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="content-main">
                        <!-- Page Content -->
                        {{{ body }}}
                        <!-- /.container -->
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/forum.bundle.js" type="text/javascript"></script>
        {{#> scriptBlock }}

        {{/scriptBlock}}
    </body>
</html>
