<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/apple-touch-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512"  href="/images/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" sizes="16x16 24x24 32x32 48x48">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yousef</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/style.css" rel="stylesheet">
</head>
